.note-dropdown {
  position: relative;
}

.note-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  float: left;
  z-index : var(--note-zindex-dropdown);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .06);
  border: 1px solid var(--note-dropdown-border-color);
  background: var(--note-dropdown-background-color);
  background-clip: padding-box;
  padding: 5px;
  min-width: 100px;
  text-align:left;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

  > *:last-child {
    margin-right: 0;
  }

}

.note-btn-group.note-open .note-dropdown-menu {
  display: block;
}

.note-dropdown-item {
  display: block;
  background-color: var(--note-dropdown-background-color);

  &:hover {
    background-color: var(--note-dropdown-background-color-hover);
  }

}

a.note-dropdown-item,
a.note-dropdown-item:hover {
  margin: 5px 0;
  color: var(--note-dropdown-color);
  text-decoration: none;
}
