.note-form-group {
  padding-bottom: 20px;
}

.note-form-group:last-child {
  padding-bottom: 0;
}

.note-form-label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}

.note-input {
  -ms-box-sizing: border-box;
      box-sizing: border-box;
  display: block;
  outline: 0;
  border: var(--note-form-input-border-width) var(--note-form-input-border-style) var(--note-form-input-border-color);
  background-color: var(--note-form-input-background-color);
  padding: 6px 4px;
  width: 100%;
  font-size: 14px;
  border-radius: var(--note-border-radius);

  &:focus {
    border: var(--note-form-input-border-width) var(--note-form-input-border-style) var(--note-form-input-border-focus);
  }

}

.note-input::-webkit-input-placeholder {
  color: var(--note-form-input-placeholder-color);
}

 /* Firefox 18- */
.note-input:-moz-placeholder {
  color: var(--note-form-input-placeholder-color);
}

/* Firefox 19+ */
.note-input::-moz-placeholder {
  color: var(--note-form-input-placeholder-color);
}

.note-input:-ms-input-placeholder {
  color: var(--note-form-input-placeholder-color);
}
