.note-popover {
  display: block;
  display: none;
  position: absolute;
  z-index: var(--note-zindex-popover);
  border: 1px solid var(--note-popover-border-color-fallback);;
  border: 1px solid var(--note-popover-border-color);
  background: var(--note-popover-background-color);
  font-family: var(--note-font);
  font-size: 13px;

  &.in {
    display: block;
  }

  &.top {
    margin-top: -10px;
    padding: var(--note-popover-arrow-width) 0;
  }

  &.right {
    margin-left: 10px;
    padding: 0 var(--note-popover-arrow-width);
  }

  &.bottom {
    margin-top: 10px;
    padding: var(--note-popover-arrow-width) 0;
  }

  &.left {
    margin-left: -10px;
    padding: 0 var(--note-popover-arrow-width);
  }

}

.note-popover {

  &.bottom .note-popover-arrow {
    top: -11px;
    left: 20px;
    margin-left: -var(--note-popover-arrow-width);
    border-top-width: 0;
    border-bottom-color: var(--note-popover-arrow-outer-color-fallback);
    border-bottom-color: var(--note-popover-arrow-outer-color);

    &::after {
      top: 1px;
      margin-left: -10px;
      border-top-width: 0;
      border-bottom-color: #fff;
      content: " ";
    }

  }

  &.top .note-popover-arrow {
    bottom: -11px;
    left: 20px;
    margin-left: -var(--note-popover-arrow-width);
    border-bottom-width: 0;
    border-top-color: var(--note-popover-arrow-outer-color-fallback);
    border-top-color: var(--note-popover-arrow-outer-color);

    &::after {
      bottom: 1px;
      margin-left: -10px;
      border-bottom-width: 0;
      border-top-color: #fff;
      content: " ";
    }

  }

  &.right .note-popover-arrow {
    top: 50%;
    left: -11px;
    margin-top: -var(--note-popover-arrow-width);
    border-left-width: 0;
    border-right-color: var(--note-popover-arrow-outer-color-fallback);
    border-right-color: var(--note-popover-arrow-outer-color);

    &::after {
      left: 1px;
      margin-top: -10px;
      border-left-width: 0;
      border-right-color: #fff;
      content: " ";
    }

  }

  &.left .note-popover-arrow {
    top: 50%;
    right: -11px;
    margin-top: -var(--note-popover-arrow-width);
    border-right-width: 0;
    border-left-color: var(--note-popover-arrow-outer-color-fallback);
    border-left-color: var(--note-popover-arrow-outer-color);

    &::after {
      right: 1px;
      margin-top: -10px;
      border-right-width: 0;
      border-left-color: #fff;
      content: " ";
    }

  }

}

.note-popover-arrow {
  position: absolute;
  border: 11px solid transparent;
  width: 0;
  height: 0;

  &::after {
    display: block;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    width: 0;
    height: 0;
    content :  " ";
  }

}

.note-popover-content {
  background-color: var(--note-popover-background-color);
  padding: 3px 8px;
  min-width: 100px;
  min-height: 30px;
  color: var(--note-popover-color);
  text-align: center;
}
