// Notifications
.note-status-output {
  display: block;
  margin-bottom: 0;
  border: 0;
  border-top: var(--note-status-border-width) var(--note-status-border-style) var(--note-status-border-color);
  width: 100%;
  height: var(--note-status-height);
  color: var(--note-status-color);
  font-size: var(--note-status-font-size);
  line-height: 1.42857143;
}

.note-status-output:empty {
  height: 0;
}

.note-status-output .note-pull-right {
  float: right !important;
}

.note-status-output .note-text-muted {
  color: var(--note-muted-color);
}

.note-status-output .note-text-primary {
  color: var(--note-primary-color);
}

.note-status-output .note-text-success {
  color: var(--note-success-color);
}

.note-status-output .note-text-info {
  color: var(--note-info-color);
}

.note-status-output .note-text-warning {
  color: var(--note-warning-color);
}

.note-status-output .note-text-danger {
  color: var(--note-danger-color);
}

.note-alert {
  margin: -7px 0 0 0;
  border-radius: 0;
  background-color: var(--note-background-color);
  padding: 7px 10px 2px 10px;
  color: var(--note-color);
}

.note-alert .note-icon {
  margin-right: 5px;
}

.note-alert-success {
  background-color: var(--note-success-background-color) !important;
  color: var(--note-success-color) !important;
}

.note-alert-info {
  background-color: var(--note-info-background-color) !important;
  color: var(--note-info-color) !important;
}

.note-alert-warning {
  background-color: var(--note-warning-background-color) !important;
  color: var(--note-warning-color) !important;
}

.note-alert-danger {
  background-color: var(--note-danger-background-color) !important;
  color: var(--note-danger-color) !important;
}

// statusbar
.note-statusbar {
  position: relative;
  border-top: var(--note-status-border-width) var(--note-status-border-styke) var(--note-status-border-color);
  border-bottom-right-radius: var(--note-status-border-radius);
  border-bottom-left-radius: var(--note-status-border-radius);
  background-color: var(--note-status-background-color);

  .note-powered {
    position: absolute;
    right: 5px;
    bottom: -2px;
  }

  .note-powered a {
    color: #777;
    font-size: 12px;
    text-decoration: none;
  }

  .note-powered a:hover {
    text-decoration: underline;
  }

  .note-resizebar {
    cursor: ns-resize;
    padding-top: 1px;
    width: 100%;
    height: 9px;

    .note-icon-bar {
      margin: 1px auto;
      border-top: var(--note-toolbar-border-width) var(--note-toolbar-border-style) var(--note-status-border-color);
      width: 20px;
    }

  }

  &.note-locked {

    .note-resizebar {
      cursor: default;

      .note-icon-bar {
        display: none;
      }

    }

  }

}
