.note-txt {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0;
  box-sizing: content-box;
  height: var(--note-txt-line-height);
  outline: 0;
  border: var(--note-txt-border-width) var(--note-txt-border-style) var(--note-txt-border-color);
  border-color: var(--note-txt-border-color);
  border-radius: var(--note-txt-border-radius);
  background-color: var(--note-txt-background-color);
  background-image: none;
  padding: var(--note-padding-base-y) var(--note-padding-base-x);
  touch-action: none;
  color: var(--note-txt-color);
  font-size: var(--note-font-size-small);
  font-weight: 400;
  line-height: var(--note-txt-line-height);
  text-align: center;
  white-space: nowrap;

  &.note-dropdown-toggle {
    padding: var(--note-padding-base-y) var(--note-padding-base-x) calc(var(--note-padding-base-y) - 1px) var(--note-padding-base-x);
  }

  &:active,
  &.note-active,
  &.active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    border: var(--note-txt-border-width) var(--note-txt-border-style) var(--note-txt-border-color-active);
    border-radius: var(--note-txt-border-radius);
    background-color: var(--note-txt-background-color-active);
    background-image: none;
    color: var(--note-txt-color-active);
    text-decoration: none;
  }

  &.note-disabled,
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    opacity: .65;
    cursor: not-allowed;
    box-shadow: none;
  }

}

.note-txt-primary {
  background: var(--note-txt-primary-background-color);
  color: var(--note-txt-primary-color);
}

.note-txt-block {
  display: block;
  width: 100%;
}

.note-txt-block + .note-txt-block {
  margin-top: 5px;
}
