.note-tooltip {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: var(--note-zindex-tooltip);
  transition: opacity .15s;
  font-size: 13px;

  &.in {
    opacity: var(--note-tooltip-opacity);
  }

  &.top {
    margin-top: -3px;
    padding: var(--note-tooltip-arrow-width) 0;
  }

  &.right {
    margin-left: 3px;
    padding: 0 var(--note-tooltip-arrow-width);
  }

  &.bottom {
    margin-top: 3px;
    padding: var(--note-tooltip-arrow-width) 0;
  }

  &.left {
    margin-left: -3px;
    padding: 0 var(--note-tooltip-arrow-width);
  }

}

.note-tooltip {

  &.bottom .note-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -var(--note-tooltip-arrow-width);
    border-width: 0 var(--note-tooltip-arrow-width) var(--note-tooltip-arrow-width);
    border-bottom-color: var(--note-tooltip-background-color);
  }

  &.top .note-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -var(--note-tooltip-arrow-width);
    border-width: var(--note-tooltip-arrow-width) var(--note-tooltip-arrow-width) 0;
    border-top-color: var(--note-tooltip-background-color);
  }

  &.right .note-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -var(--note-tooltip-arrow-width);
    border-width: var(--note-tooltip-arrow-width) var(--note-tooltip-arrow-width) var(--note-tooltip-arrow-width) 0;
    border-right-color: var(--note-tooltip-background-color);
  }

  &.left .note-tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -var(--note-tooltip-arrow-width);
    border-width: var(--note-tooltip-arrow-width) 0 var(--note-tooltip-arrow-width) var(--note-tooltip-arrow-width);
    border-left-color: var(--note-tooltip-background-color);
  }

}

.note-tooltip-arrow {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  width: 0;
  height: 0;
}

.note-tooltip-content {
  background-color: var(--note-tooltip-background-color);
  padding: 3px 8px;
  max-width: var(--note-tooltip-max-width);
  color: var(--note-tooltip-color);
  font-family: var(--note-font);
  text-align: center;
}
