.note-toolbar {
  border-bottom: var(--note-toolbar-border-width) var(--note-toolbar-border-style) var(--note-toolbar-border-color);
  border-top-left-radius: var(--note-toolbar-border-radius);
  border-top-right-radius: var(--note-toolbar-border-radius);
  background-color: var(--note-toolbar-background-color) !important;
  padding: var(--note-toolbar-padding-y) var(--note-toolbar-padding-x);
  color: var(--note-toolbar-color);
}
