.note-dropdown {
  position: relative; }

.note-color {

  .note-dropdown-toggle {
    width: 30px;
    padding-left: 5px; }

}

.note-dropdown-menu {
  display: none;
  min-width: 100px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: var(--note-zindex-dropdown);
  float: left;
  text-align:left;
  background-color: var(--note-dropdown-background-color);
  border: 1px solid var(--note-dropdown-border-color);
  padding: 0;
  background-clip: padding-box;
  box-shadow: 0 1px 1px rgba(0,0,0,.06);

  > *:last-child {
    margin-right: 0; }

}

.note-btn-group.note-open .note-dropdown-menu {
  display: block; }

.note-dropdown-item {
  display: block;

  &:hover {
    background-color: var(--note-dropdown-background-color-hover); }

}

a.note-dropdown-item,
a.note-dropdown-item:hover {
  margin: 0 !important;
  padding: 2px 5px !important;
  color: var(--note-dropdown-color);
  text-decoration: none; }

a.note-dropdown-item:hover {
  color: var(--note-dropdown-color-hover); }
