.note-form-group {
  padding-bottom: 20px; }

.note-form-group:last-child {
  padding-bottom: 0; }

.note-form-label {
  display: contents !important;
  width: 100% !important;
  font-size: 16px !important;
  line-height: 1;
  color: var(--note-form-label-color) !important;
  margin: 0 0 0 .5rem !important;
  padding: 0 2px !important;
  font-size: 1em !important;
  font-weight: 700 !important; }

.note-form-label input[type=checkbox],
.note-form-label input[type=radio] {
  margin-right: .5em; }

.note-input {
  width: 100%;
  display: block;
  border: var(--note-form-input-border-width) var(--note-form-input-border-style) var(--note-form-input-border-color);
  background-color: var(--note-form-input-background-color);
  outline: 0;
  padding: 6px 4px;
  font-size: 14px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.note-input:focus{
  border-color: var(--note-form-input-border-focus); }

.note-input::-webkit-input-placeholder {
  color: var(--note-form-input-placeholder-color); }

.note-input:-moz-placeholder { /* Firefox 18- */
  color: var(--note-form-input-placeholder-color); }

.note-input::-moz-placeholder {  /* Firefox 19+ */
  color: var(--note-form-input-placeholder-color); }

.note-input:-ms-input-placeholder {
  color: var(--note-form-input-placeholder-color); }
