.note-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: var(--note-zindex-modal);
  opacity: 1;
  display: none;

  &.note-open {
    display:block; }

}

.note-modal-content {
  position: relative;
  width: auto;
  margin: 30px 20px;
  border: 1px solid var(--note-modal-border-color);
  background-color: var(--note-modal-background-color);
  background-clip: border-box;
  outline: 0;
  border-radius: var(--note-modal-border-radius);
  box-shadow: 0 3px 9px rgba(0,0,0,.5); }

.note-modal-header {
  padding: var(--note-modal-header-padding);
  border: 1px solid var(--note-modal-header-border-color); }

.note-modal-body {
  position: relative;
  padding: 20px 30px;

  // shortcut text style
  kbd {
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    padding: 3px 5px;
    font-weight: 700;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
}

.note-modal-footer {
  height: 40px;
  padding: 10px;
  text-align: center; }

.note-modal-footer a {
  color: var(--note-modal-color-link);
  text-decoration: none }

.note-modal-footer a:hover,
.note-modal-footer a:focus {
  color: var(--note-modal-color-link-hover);
  text-decoration: underline }

.note-modal-footer .note-btn {
  float: right }

.note-modal-title {
  font-size: 20px;
  color: var(--note-modal-color);
  margin: 0;
  line-height: 1.4; }

.note-modal-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: var(--note-zindex-modal);
  background-color: var(--note-modal-backdrop-background-color);
  opacity: var(--note-modal-backdrop-opacity);
  display: none;

  &.note-open {
    display: block; }

}

// Scale up the modal
@media (min-width: 768px) {
  // Automatically set modal's width for larger viewports
  .note-modal-content {
    width: 600px;
    margin: 30px auto; }

}

@media (min-width: 992px) {
  .note-modal-content-large {
    width: 900px; }

}

.note-modal {

  .note-help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--note-form-help-color); }

}
