.note-popover {
  position: absolute;
  z-index: var(--note-zindex-popover);
  // Our parent element can be arbitrary since popovers are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  font-size: 13px;
  font-family: var(--note-font);

  display: none;
  background-color: var(--note-popover-background-color);
  border: var(--note-popover-border-width) var(--note-popover-border-style) var(--note-popover-border-color);

  &.note-in     { display: block; }
  &.note-top    { margin-top:  -10px; padding: var(--note-tooltip-arrow-width) 0; }
  &.note-right  { margin-left:  10px; padding: 0 var(--note-tooltip-arrow-width); }
  &.note-bottom { margin-top:   10px; padding: var(--note-tooltip-arrow-width) 0; }
  &.note-left   { margin-left: -10px; padding: 0 var(--note-tooltip-arrow-width); }

}

.note-popover {

  &.note-bottom .note-popover-arrow {
    top: -11px;
    left: 20px;
    margin-left: -var(--note-tooltip-arrow-width);
    border-top-width: 0;
    border-bottom-color: var(--note-popover-arrow-color);

    &::after {
      top: 1px;
      margin-left: -10px;
      content: " ";
      border-top-width: 0;
      border-bottom-color: var(--note-popover-arrow-color); }

  }

  &.note-top .note-popover-arrow {
    bottom: -11px;
    left: 20px;
    margin-left: -var(--note-tooltip-arrow-width);
    border-bottom-width: 0;
    border-top-color: var(--note-popover-arrow-color);

    &::after {
      bottom: 1px;
      margin-left: -10px;
      content: " ";
      border-bottom-width: 0;
      border-top-color: var(--note-popover-arrow-color); }

  }

  &.note-right .note-popover-arrow {
    top: 50%;
    left: -11px;
    margin-top: -var(--note-tooltip-arrow-width);
    border-left-width: 0;
    border-right-color: var(--note-popover-arrow-color);

    &::after {
      left: 1px;
      margin-top: -10px;
      content: " ";
      border-left-width: 0;
      border-right-color: var(--note-popover-arrow-color); }

  }

  &.note-left .note-popover-arrow {
    top: 50%;
    right: -11px;
    margin-top: -var(--note-tooltip-arrow-width);
    border-right-width: 0;
    border-left-color: var(--note-popover-arrow-color);

    &::after {
      right: 1px;
      margin-top: -10px;
      content: " ";
      border-right-width: 0;
      border-left-color: var(--note-popover-arrow-color); }

  }

}


.note-popover-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 11px solid transparent;

  &::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content :  " ";
    border-width: 10px; }

}

.note-popover-content {
  /*max-width: var(--note-popover-max-width);*/
  padding: 3px 8px;
  color: var(--note-popover-color);
  text-align: center;
  background-color: var(--note-popover-background-color);
  min-width: 100px;
  min-height: 30px; }
