.note-txt {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0;
  box-sizing: content-box;
  height: var(--note-txt-line-height) !important;
  outline: 0;
  border: var(--note-txt-border-width) var(--note-txt-border-style) var(--note-txt-border-color) !important;
  border-color: var(--note-txt-border-color) !important;
  border-radius: var(--note-txt-border-radius) !important;
  background-color: var(--note-txt-background-color) !important;
  background-image: none;
  padding: .421rem .65rem !important;
  touch-action: none;
  color: var(--note-txt-color) !important;
  font-size: 14px;;
  font-weight: 400;
  line-height: var(--note-txt-line-height) !important;
  text-align: center;
  white-space: nowrap;

  .note-txt-zoom-value {
    border: 0;
    border-radius: 0;
    text-align: center;
    width: auto !important;
    min-width: 20px !important;
    max-width: 25px !important;

      &:focus,
      &:hover {
        outline: none;
        border: 0;
      }

   }

  &.note-dropdown-toggle {
    padding: var(--note-padding-base-y) var(--note-padding-base-x) calc(var(--note-padding-base-y) - 1px) var(--note-padding-base-x);
  }

  &:active,
  &.note-active,
  &.active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    border: var(--note-txt-border-width) var(--note-txt-border-style) var(--note-txt-border-color-active) !important;
    border-radius: var(--note-txt-border-radius) !important;
    background-color: var(--note-txt-background-color-active) !important;
    background-image: none;
    color: var(--note-txt-color-active) !important;
    text-decoration: none;
  }

  &.note-disabled,
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    opacity: .65;
    cursor: not-allowed;
    box-shadow: none;
  }

}

.note-txt-primary {
  background: var(--note-txt-primary-background-color) !important;
  color: var(--note-txt-primary-color) !important;
}

.note-txt-block {
  display: block;
  width: 100%;
}

.note-txt-block + .note-txt-block {
  margin-top: 5px;
}
