.note-toolbar {
  padding: 10px 5px;
  border-bottom: var(--note-toolbar-border-width) var(--note-toolbar-border-style) var(--note-toolbar-border-color);
  color: var(--note-toolbar-color);
  background-color: var(--note-toolbar-background-color);
  border-color: var(--note-toolbar-border-color);
  border-top-left-radius: var(--note-toolbar-border-radius);
  border-top-right-radius: var(--note-toolbar-border-radius); }

.note-toolbar.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000; }
