.note-tooltip {
  position: absolute;
  z-index: var(--note-zindex-tooltip);
  display: block;
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  font-size: 13px;

  transition: opacity .15s;
  opacity: 0;

  &.note-in     { opacity: var(--note-tooltip-opacity); }
  &.note-top    { margin-top:  -3px; padding: var(--note-tooltip-arrow-width) 0; }
  &.note-right  { margin-left:  3px; padding: 0 var(--note-tooltip-arrow-width); }
  &.note-bottom { margin-top:   3px; padding: var(--note-tooltip-arrow-width) 0; }
  &.note-left   { margin-left: -3px; padding: 0 var(--note-tooltip-arrow-width); }

}

.note-tooltip {

  &.note-bottom .note-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: var(--note-tooltip-arrow-neg-width);
    border-width: 0 var(--note-tooltip-arrow-width) var(--note-tooltip-arrow-width);
    border-bottom-color: var(--note-tooltip-arrow-color); }

  &.note-top .note-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: var(--note-tooltip-arrow-neg-width);
    border-width: var(--note-tooltip-arrow-width) var(--note-tooltip-arrow-width) 0;
    border-top-color: var(--note-tooltip-arrow-color); }

  &.note-right .note-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: var(--note-tooltip-arrow-neg-width);
    border-width: var(--note-tooltip-arrow-width) var(--note-tooltip-arrow-width) var(--note-tooltip-arrow-width) 0;
    border-right-color: var(--note-tooltip-arrow-color); }

  &.note-left .note-tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: var(--note-tooltip-arrow-neg-width);
    border-width: var(--note-tooltip-arrow-width) 0 var(--note-tooltip-arrow-width) var(--note-tooltip-arrow-width);
    border-left-color: var(--note-tooltip-arrow-color); }

}

.note-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.note-tooltip-content {
  max-width: var(--note-tooltip-max-width);
  font-family: var(--note-font);
  padding: 3px 8px;
  color: var(--note-tooltip-color);
  text-align: center;
  background-color: var(--note-tooltip-background-color); }
