:root {
  --note-color: #000;
  --note-font: sans-serif;
  --note-font-size: 14px;
  --note-font-size-large: calc(var(--note-font-size) * 1.25);
  --note-font-size-small: calc(var(--note-font-size) * .85);
  --note-placeholder-color: #ddd;
  --note-icon-prefix: 'note-icon';
  --note-line-height: 1.4;
  --note-line-height-computed: calc(var(--note-line-height) * var(--note-font-size));
  --note-box-shadow-x: 0;
  --note-box-shadow-y: 1px;
  --note-box-shadow-blur: 2px;
  --note-box-shadow-color: rgba(0, 0, 0, .1);
  --note-border-radius: 2px;
  --note-frame-border-radius: 3px;
  --note-opacity: .5;

  --note-editable-color: #000;
  --note-editable-background-color: #fff;
  --note-editable-border-width: 1px;
  --note-editable-border-style: solid;
  --note-editable-border-color: #dae0e5;
  --note-editable-table-border-width: 1px;
  --note-editable-table-border-style: solid;
  --note-editable-table-border-color: #ececec;

  --note-control-selection-color: #fff;
  --note-control-selection-background-color: #000;
  --note-control-selection-border-color: #000;
  --note-control-selection-handle-color: #000;

  --note-codeable-font: Menlo, Manaco, monospace, sans-serif;
  --note-codeable-font-size: 14px;
  --note-codeable-color: #ccc;
  --note-codeable-background-color: #222;

  --note-dropzone-color: #fff;
  --note-dropzone-background-color: #0d6efd;
  --note-dropzone-background-color-active: #025ce2;
  --note-dropzone-border-color: #ddd;

  --note-padding-base-x: 10px;
  --note-padding-base-y: 5px;
  --note-border-radius: 3px;

  --note-toolbar-color: #333;
  --note-toolbar-background-color: #f5f5f5;
  --note-toolbar-border-width: 1px;
  --note-toolbar-border-style: solid;
  --note-toolbar-border-color: #e2e2e2;
  --note-toolbar-border-radius: 3px;
  --note-toolbar-padding-x: 5px;
  --note-toolbar-padding-y: 10px;

  --note-status-height: auto;
  --note-status-font-size: 14px;
  --note-status-color: #000;
  --note-status-color-muted: #777;
  --note-status-background-color: #f5f5f5;
  --note-status-border-width: 1px;
  --note-status-border-style: solid;
  --note-status-border-color: #e2e2e2;
  --note-status-resize-icon-color: #e2e2e2;
  --note-status-border-radius: 3px;
  --note-status-padding-x: 5px;
  --note-status-padding-y: 10px;

  --note-btn-font-weight: 400;
  --note-btn-font-size: 13px;
  --note-btn-padding-x: .65rem;
  --note-btn-padding-y: .28rem;
  --note-btn-background-color: #fff;
  --note-btn-background-color-hover: #f2f2f2;
  --note-btn-background-color-active: #f2f2f2;
  --note-btn-background-color-disabled: #888;
  --note-btn-color: #000;
  --note-btn-color-hover: #000;
  --note-btn-color-active: #333;
  --note-btn-color-disabled: #000;
  --note-btn-border-width: 1px;
  --note-btn-border-style: solid;
  --note-btn-border-color: #dae0e5;
  --note-btn-border-color-hover: #dae0e5;
  --note-btn-border-color-active: #dae0e5;
  --note-btn-border-color-disabled: #888;
  --note-btn-border-radius: 3px;
  --note-btn-primary-color: #fff;
  --note-btn-primary-color-hover: #fff;
  --note-btn-primary-background-color: #0d6efd;
  --note-btn-primary-background-color-hover: #025ce2;
  --note-btn-primary-border-color: #0d6efd;
  --note-btn-primary-border-color-hover: #025ce2;
  --note-btn-primary-border-color-focus: rgba(49, 132, 253, .5);
  --note-btn-primary-border-color-disabled: #fff;
  --note-btn-primary-background-color-disabled: #0d6efd;
  --note-btn-primary-border-color-disabled: #0d6efd;

  --note-txt-line-height: 19.875px;
  --note-txt-border-width: 1px;
  --note-txt-border-style: solid;
  --note-txt-border-color: #dae0e5;
  --note-txt-border-radius: 3px;
  --note-txt-background-color: #fff;
  --note-txt-color-active: #333;
  --note-txt-primary-color: #fff;
  --note-txt-primary-background-color: #0d6efd;

  --note-form-label-color: #000;
  --note-form-input-color: #888;
  --note-form-input-placeholder-color: #999;
  --note-form-input-background-color: #fff;
  --note-form-input-background-color-disabled: #ccc;
  --note-form-input-border-width: 1px;
  --note-form-input-border-style: solid;
  --note-form-input-border-color: #ededef;
  --note-form-input-border-focus: #66afe9;
  --note-form-help-font-size: 90%;
  --note-form-help-color: #aaa;

  --note-dropdown-color: #000;
  --note-dropdown-color-hover: #000;
  --note-dropdown-background-color: #fff;
  --note-dropdown-background-color-hover: #f5f5f5;
  --note-dropdown-border-color: #e2e2e2;
  --note-dropdown-checked: #000;

  --note-tooltip-max-width: 200px;
  --note-tooltip-color: #fff;
  --note-tooltip-background-color: #000;
  --note-tooltip-opacity: .9;
  --note-tooltip-arrow-width: 5px;
  --note-tooltip-arrow-neg-width: -5px;
  --note-tooltip-arrow-color: #000;
  --note-tooltip-border-radius: .25em;

  --note-popover-max-width: 276px;
  --note-popover-color: #000;
  --note-popover-color-hover: #fff;
  --note-popover-color-link: #007bff;
  --note-popover-color-link-hover: #0056b3;
  --note-popover-background-color: #ffffff;
  --note-popover-background-color-hover: #428bca;
  --note-popover-border-width: 1px;
  --note-popover-border-style: solid;
  --note-popover-border-color: rgba(0, 0, 0, .2);
  --note-popover-border-radius: 3px;
  --note-popover-title-background-color: #e9e9e9;
  --note-popover-arrow-width: 10px;
  --note-popover-arrow-color: #fff;
  --note-popover-arrow-outer-width: calc(var(--note-popover-arrow-width + 1));
  --note-popover-arrow-outer-color: rgba(0, 0, 0, .2);

  --note-modal-backdrop-background-color: rgba(0, 0, 0, .5);
  --note-modal-backdrop-opacity: .5;
  --note-modal-border-radius: 5px;
  --note-modal-background-color: #fff;
  --note-modal-color: #000;
  --note-modal-color-link: #007bff;
  --note-modal-color-link-hover: #0056b3;
  --note-modal-color-link-disabled: #868e96;
  --note-modal-padding: 15px;
  --note-modal-border-color: rgba(0, 0, 0, .2);
  --note-modal-header-border-color: #e5e5e5;
  --note-modal-header-padding: 15px;
  --note-modal-header-line-height: var(--note-line-height);
  --note-modal-close-color: #000;
  --note-modal-footer-border-color: #e5e5e5;
  --note-modal-footer-padding: 20px 15px 45px 15px;

  --note-zindex-dropdown: 1000;
  --note-zindex-popover: 1060;
  --note-zindex-tooltip: 1070;
  --note-zindex-modal: 1050;
  --note-zindex-modal-backdrop: 1040;
  --note-zindex-control-section : 1000;

  --note-color: #000;
  --note-background-color: #f5f5f5;
  --note-border-color: #ddd;
  --note-muted-color: #777;
  --note-close-color: #000;
  --note-close-color-hover: #000;

  --note-primary-color: #073984;
  --note-primary-background-color: #cfe2ff;
  --note-primary-color-link: #042454;
  --note-primary-border-color: #bbd6fe;

  --note-secondary-color: #383d41;
  --note-secondary-background-color: #e2e3e5;
  --note-secondary-link-color: #202326;
  --note-secondary-border-color: #d6d8db;

  --note-success-color: #155724;
  --note-success-background-color: #d4edda;
  --note-success-link-color: #0b2e13;
  --note-success-border-color: #c3e6cb;

  --note-info-color: #0c5460;
  --note-info-background-color: #d1ecf1;
  --note-info-link-color: #062c33;
  --note-info-border-color: #bee5eb;

  --note-warning-color: #856404;
  --note-warning-background-color: #fff3cd;
  --note-warning-link-color: #533f03;
  --note-warning-border-color: #ffeeba;

  --note-danger-color: #721c24;
  --note-danger-background-color: #f8d7da;
  --note-danger-link-color: #491217;
  --note-danger-border-color: #f5c6cb;
}
