/* Layout */
.note-editor {
  position: relative;

  // dropzone
  .note-dropzone {
    position: absolute;
    display: none;
    z-index: 100;
    background-color: var(--note-dropzone-background-color);
    color: var(--note-dropzone-color);
    opacity: .95;

    .note-dropzone-message {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 28px;
      font-weight: 700; }

    &.note-hover {
      color: var(--note-dropzone-background-color-active); }

  }

  &.note-dragover .note-dropzone {
    display: table; }

  .note-editing-area {
    position: relative;

    .note-editable {
      outline: none;
      padding: 10px;

      sup {
        vertical-align: super; }

      sub {
        vertical-align: sub; }

      img.note-float-left {
        margin-right: 10px; }

      img.note-float-right {
        margin-left: 10px; }

      table {
        width: 100%;
        border-collapse: collapse;

        td,
        th {
          padding: 5px 3px;
          border: var(--note-editable-table-border-width) var(--note-editable-table-border-style) var(--note-editable-table-border-color); }

      }

    }

  }

}

/* Frame mode layout */
.note-editor.note-frame,
.note-editor.note-airframe {
  border: var(--note-editable-border-width) var(--note-editable-border-style) var(--note-editable-border-color);

  // codeview mode
  &.note-codeview {

    .note-editing-area {

      .note-editable {
        display: none; }

      .note-video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;

        iframe,
        object,
        embed,
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }

        .note-video-clip,
        .youtube:hover {
          cursor: pointer; }

        .youtube:hover .play {
          background: #f00;
          opacity: .9; }

        .play {
          font-size: 1.1em;
          transform: translateY(130px);
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          background: #3b3636;
          opacity: .85;
          border-radius: 50%/10%;
          color: #fff;
          height: 3em;
          padding: 0;
          text-align: center;
          text-indent: .1em;
          transition: all 150ms ease-out;
          width: 4em; }

        .play::before {
          content: "";
          background: inherit;
          border-radius: 5% / 50%;
          bottom: 9%;
          left: -5%;
          position: absolute;
          right: -5%;
          top: 9%; }

        .play::after {
          content: ' ';
          position: absolute;
          top: 50%;
          width: 0;
          height: 0;
          margin: -1em 0 0 -.75em;
          border-style: solid;
          border-width: 1em 0 1em 1.732em;
          border-color: transparent transparent transparent rgba(255, 255, 255, .75);
          font-size: .75em; }

      }

      .note-video-popover-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }

      .note-codable {
        display: block; }

    }

  }

  .note-editing-area {
    overflow: hidden;

    // editable
    .note-viewport-area {
      overflow: auto;
      background-color: var(--note-editable-background-color);

      .note-editable {
        padding: 10px !important;
        overflow: auto;
        word-wrap: break-word;
        transform-origin: left top;
        transform: scale(1);
        background-color: var(--note-editbale-background-color);
        color: var(--note-editable-color);

        &[contenteditable="false"] {
          background-color: var(--note-editable-background-color); }

      }

    }

    // codeable
    .note-codable {
      -ms-box-sizing: border-box;
          box-sizing: border-box;
      display: none;
      width: 100%;
      margin-bottom: 0;
      padding: 10px;
      border: none;
      border-radius: 0;
      outline: none;
      background-color: var(--note-codeable-background-color);
      box-shadow: none;
      color: var(--note-codeable-color);
      font-family: var(--note-codeable-font);
      font-size: var(--note-codeable-font-size);
      resize: none; }

  }

  // fullscreen mode
  &.note-fullscreen {
    z-index: 1050; // bs3 modal-backdrop: 1030, bs2: 1040
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh !important;

    .note-editing-area {
      height: calc(100% - 100px) !important; }

    .note-resizebar {
      display: none; }

  }

  // Notifications
  .note-status-output {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    height: 20px;
    margin-bottom: 0;
    color: var(--note-status-color);
    border: 0;
    border-top: var(--note-status-border-width) var(--note-status-border-style) var(--note-status-border-color); }

  .note-status-output:empty {
    height: 0;
    border-top: 0 solid transparent; }

  .note-status-output .pull-right {
    float: right !important; }

  .note-status-output .text-muted {
    color: var(--note-status-color-muted); }

  .note-status-output .text-primary {
    color: var(--note-primary-color); }

  .note-status-output .text-success {
    color: var(--note-success-color); }

  .note-status-output .text-info {
    color: var(--note-info-color); }

  .note-status-output .text-warning {
    color: var(--note-warning-color); }

  .note-status-output .text-danger {
    color: var(--note-danger-color); }

  .note-status-output .alert {
    margin: -7px 0 0 0;
    padding: 7px 10px 2px 10px;
    border-radius: 0;
    color: var(--note-status-color);
    background-color: var(--note-status-background-color); }

  .note-status-output .alert .note-icon {
    margin-right: 5px; }

  .note-status-output .alert-success {
    color: var(--note-success-color) !important;
    background-color: var(--note-success-background-color) !important; }

  .note-status-output .alert-info {
    color: var(--note-info-color) !important;
    background-color: var(--note-info-background-color) !important; }

  .note-status-output .alert-warning {
    color: var(--note-warning-color) !important;
    background-color: var(--note-warning-background-color) !important; }

  .note-status-output .alert-danger {
    color: var(--note-danger-color) !important;
    background-color: var(--note-danger-background-color) !important; }

  // statusbar
  .note-statusbar {
    background-color: var(--note-status-background-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid var(--note-status-border-color);

    .note-resizebar {
      padding-top: 1px;
      height: 9px;
      width: 100%;
      cursor: ns-resize;

      .note-icon-bar {
        width: 20px;
        margin: 1px auto;
        border-top: 1px solid var(--note-status-resize-icon-color); }

    }

    &.note-locked {

      .note-resizebar {
        cursor: default;

        .note-icon-bar {
          display: none; }

      }

    }

  }

  .note-placeholder {
    padding: 10px; }

}

.note-fullscreen .note-status-output {
    position: absolute !important;
    bottom: 0 !important; }

.note-fullscreen .note-statusbar {
  display: none; }

.note-editor.note-airframe {
  border: 0;

  .note-editing-area {

    .note-editable {
      padding: 0; }

  }

}

/* Popover */
.note-popover.popover {
  display: none;
  max-width: none;

  .note-popover-content {

    a {
      display: inline-block;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle; }

  }

  .note-arrow {
    left: 20px !important; }

}

/* Popover and Toolbar (Button container) */
.note-toolbar {
  position: relative;
  background-color: var(--note-toolbar-background-color); }

.note-popover .popover-content,
.note-editor .note-toolbar {
  margin: 0;
  padding: 0 0 5px 5px;

  & > .note-btn-group {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 5px; }

  .note-btn-group {

    .note-table {
      min-width: 0;
      padding: 5px;

      .note-dimension-picker {
        font-size: 18px;

        .note-dimension-picker-mousecatcher {
          position: absolute !important;
          z-index: 3;
          width: 10em;
          height: 10em;
          cursor: pointer; }

        .note-dimension-picker-unhighlighted {
          position: relative !important;
          z-index: 1;
          width: 5em;
          height: 5em;
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC") repeat; }

        .note-dimension-picker-highlighted {
          position: absolute !important;
          z-index: 2;
          width: 1em;
          height: 1em;
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC") repeat; }

      }

    }

  }

  .note-style {

    .note-dropdown-style {

      blockquote,
      pre {
        margin: 0;
        padding: 5px 10px; }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin: 0;
        padding: 0; }

    }

  }

  .note-color-all {

    .note-dropdown-menu {
      min-width: 342px; }

  }

  .note-color {

    .note-dropdown-toggle {
      width: 20px;
      padding-left: 5px; }

    .note-dropdown-menu {

      .note-palette {
        display: inline-block;
        margin: 0;
        width: 160px;

        &:first-child {
          margin: 0 5px; }

        .note-palette-title {
          font-size: 12px;
          margin: 2px 7px;
          text-align: center;
          border-bottom: 1px solid var(--note-border-color); }

        .note-color-reset,
        .note-color-select {
          width: 100%;
          margin: 3px;
          padding: 0 3px;
          border: var(--note-btn-border-width) var(--note-btn-border-style) var(--note-btn-primary-border-color);
          border-radius: var(--note-btn-border-radius);
          background-color: var(--note-btn-primary-background-color);
          color: var(--note-btn-primary-color);
          font-size: 11px;
          cursor: pointer;

          &:hover {
            background-color: var(--note-btn-primary-background-color-hover);
            color: var(--note-btn-primary-color-hover); }

          }

        }

        .note-color-row {
          height: 20px; }

        .note-color-select-btn {
          display: none; }

      }

    }

  }

  .note-para {

    .note-dropdown-menu {
      min-width: 228px;
      padding: 5px;

      & > div + div {
        margin-left: 5px; }

    }

  }

  // dropdown-menu for toolbar and popover
  .note-dropdown-menu {
    min-width: 160px;

    // dropdown-menu right position
    // http://forrst.com/posts/Bootstrap_right_positioned_dropdown-2KB
    &.note-right {
      right: 0;
      left: auto;

      &::before {
        right: 9px;
        left: auto !important; }

      &::after {
        right: 10px;
        left: auto !important; }

    }

    // dropdown-menu for selectbox
    &.note-check {

      a i {
        visibility: hidden;
        color: var(--note-dropdown-checked); }

      a.note-checked i {
        visibility: visible; }

    }

  }

  .note-fontsize-10 {
    font-size: 10px; }

  // color palette for toolbar and popover
  .note-color-palette {
    line-height: 1;

    div {

      .note-color-btn {
        width: 20px;
        height: 20px;
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        border-radius: 0 !important; }

      .note-color-btn:hover {
        transform: scale(1.2);
        transition: all .2s; }

    }

  }

/* Dialog */
.note-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--note-zindex-modal-backdrop);
  width: 100vw;
  height: 100vh;
  background-color: var(--note-modal-backdrop-background-color);
  opacity: var(--note-modal-backdrop-opacity); }

.note-modal {

  .modal-dialog {
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5); }

  .note-form-group { // overwrite BS's form-horizontal minus margins
    display: flex;
    flex: 1 0 100%;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1rem; }

  .note-form-group:last-child {
    padding-bottom: 0; }

  .note-modal-form {
    margin: 0; }

  .note-form-help {
    display: inline;
    float: right;
    text-align: right;
    font-size: var(--note-form-help-font-size);
    color: var(--note-form-help-color); }

  .note-form-help::after {
    clear: both; }

  .note-input {
    -ms-box-sizing: border-box;
        box-sizing: border-box;
    display: block;
    outline: 0;
    border: var(--note-form-input-border-width) var(--note-form-input-border-style) var(--note-form-input-border-color);
    background-color: var(--note-form-input-background-color);
    padding: 6px 4px;
    width: 100%;
    font-size: 14px;
    border-radius: var(--note-border-radius);

    &:focus {
      border: var(--note-form-input-border-width) var(--note-form-input-border-style) var(--note-form-input-border-focus); }

  }

  .note-input::-webkit-input-placeholder {
    color: var(--note-form-input-placeholder-color); }

  /* Firefox 18- */
 .note-input:-moz-placeholder {
   color: var(--note-form-input-placeholder-color); }

 /* Firefox 19+ */
 .note-input::-moz-placeholder {
   color: var(--note-form-input-placeholder-color); }

 .note-input:-ms-input-placeholder {
   color: var(--note-form-input-placeholder-color); }

  .note-image-dialog {

    .note-dropzone {
      min-height: 100px;
      font-size: 30px;
      line-height: 4; // vertical-align
      color: var(--note-dropzone-color);
      text-align: center;
      border: 4px dashed var(--note-dropzone-border-color);
      margin-bottom: 10px; }

  }

  // [workaround] firefox fileinput
  @-moz-document url-prefix() {

    .note-image-input {
      height: auto; }

  }

}

/* Placeholder */
.note-placeholder {
  position: absolute;
  display: none;
  color: var(--note-placeholder-color); }

/* Handle */
.note-handle {

  // control selection
  .note-control-selection {
    position: absolute;
    display: none;
    border: 1px solid var(--note-control-selection-border-color);

    & > div {
      position: absolute; }

    .note-control-selection-bg {
      width: 100%;
      height: 100%;
      background-color: var(--note-control-selection-background-color);
      opacity: .3; }

    .note-control-handle {
      width: 7px;
      height: 7px;
      border: 1px solid var(--note-control-selection-border-color); }

    .note-control-holder {

      @extend .note-control-handle; }

    .note-control-sizing {

      @extend .note-control-handle;
      background-color: var(--note-control-selection-handle-color); }

    .note-control-nw {
      top: -5px;
      left: -5px;
      border-right: none;
      border-bottom: none; }

    .note-control-ne {
      top: -5px;
      right: -5px;
      border-bottom: none;
      border-left: none; }

    .note-control-sw {
      bottom: -5px;
      left: -5px;
      border-top: none;
      border-right: none; }

    .note-control-se {
      right: -5px;
      bottom: -5px;
      cursor: se-resize; }

    .note-control-se.note-control-holder {
      cursor: default;
      border-top: none;
      border-left: none; }

    .note-control-selection-info {
      right: 0;
      bottom: 0;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      background-color: var(--note-control-selection-background-color);
      color: var(--note-control-selection-color);
      font-size: 12px;
      opacity: .7; }

  }

}

.note-hint-popover {
  min-width: 100px;
  padding: 2px;

  .note-popover-content {
    padding: 3px;
    max-height: 150px;
    overflow: auto;

    .note-hint-group {

      .note-hint-item {
        display: block !important;
        padding: 3px;
        clear: both;
        outline: 0;
        font-weight: 400;
        line-height: 1.4;
        text-decoration: none;
        white-space: nowrap;
        background-color: var(--note-popover-background-color);
        color: var(--note-popover-color);

        &.note-active,
        &:hover {
          display: block;
          background-color: var(--note-popover-background-color-hover);
          color: var(--note-popover-color-hover);
          cursor: pointer; }

      }

    }

  }

}

/* Handle */
html, body {

  .note-fullscreen-body {
    overflow: hidden !important; }

}

//Alignment does not work with or without sequences
.note-editable ul li,
.note-editable ol li{
  list-style-position: inside; }
